h1, p, input, .outputClass, .inputClass {
  text-align: center;
}

table, td, thead, tr {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

thead, tr {
  text-align: center;
  padding: 5px;
}

.outputClass {
  margin-top: 20px;
}
